<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.miniproj02.board.BoardTokenMapper">


    <insert id="insert">
        insert into
            tb_board_token (board_token)
        values (#{board_token})
    </insert>

    <update id="updateStatusComplete">
        update tb_board_token
        set status = 1
        where board_token = #{board_token}
    </update>
</mapper>
