<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.miniproj02.board.mapper.BoardFileMapper">
    <select id="getList" resultType="BoardFileVO">
        select
            *
        from tb_board_file
        where board_id = #{board_id}
        order by board_file_id
    </select>

    <select id="view" resultType="BoardFileVO">
        select
            *
        from board_file_id = #{board_file_id}
    </select>

    <delete id="delete">
        delete from tb_board_file
        where board_file_id = #{board_file_id}
    </delete>

    <insert id="insert">
        insert into tb_board_file(
            board_id
            , original_filename
            , real_filename
            , content_type
            , size
        ) values (
            #{board_id}
            , #{original_filename}
            , #{real_filename}
            , #{content_type}
            , #{size}
        )
    </insert>

    <update id="update">
        update tb_board_file
        set original_filename = #{original_filename}
          , real_filename = #{real_filename}
        , content_type = #{content_type}
        , size = #{size}
        where board_id = #{board_id}
    </update>

    <select id="getBoardFileVO" resultType="BoardFileVO">
        select
            *
        from tb_board_file
        where board_id = #{board_id}
        limit 0, 1
    </select>

    <select id="getBoardFile" resultType="BoardFileVO">
        select
            *
        from tb_board_file
        where board_file_id = #{board_file_id}
    </select>

</mapper>
