<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.miniproj02.member.MemberMapper">

<!--    로그인 성공시 데이터 가져오기-->
    <select id="login" resultType="MemberVO">
        select
            *
        from tb_member
        where member_email = #{member_email}
    </select>

<!--    로그인 성공시 마지막 로그인 시간 업데이트-->
    <update id="updateMemberLastLogin">
        update tb_member
        set
            member_last_login_time = now()
        where member_email = #{member_email}
    </update>

<!--    로그인 성공시 카운트 +1 -->
<!--    만약 5번 넘어가면 계정 잠김.-->
    <update id="loginCountInc">
        update tb_member
        set
            member_login_count = member_login_count + 1
        <choose>
            <when test="member_login_count > 5">
                , member_account_locked = 'Y'
            </when>
            <otherwise>
                , member_account_locked = 'N'
            </otherwise>
        </choose>
        where member_email = #{member_email}
    </update>

<!--    로그인 카운트 초기화-->
    <update id="loginCountClear">
        update tb_member
        set
            member_login_count = 0
            , member_account_locked = 'N'
        where member_email = #{member_email}
    </update>

<!--    회원가입-->
    <insert id="insert">
        INSERT INTO tb_member (
            member_email,
            member_pwd,
            member_name,
            member_nickname,
            member_address,
            member_phone,
            member_gender
        ) VALUES (
                     #{member_email},
                     #{member_pwd},
                     #{member_name},
                     #{member_nickname},
                     #{member_address},
                     #{member_phone},
                     #{member_gender}
                 )
    </insert>

    <select id="getPwd" resultType="MemberVO">
        select
            member_pwd
        from tb_member
        where member_id = #{member_id}
    </select>

    <update id="update">
        update tb_member
        set member_name = #{member_name}, member_nickname = #{member_nickname}, member_gender = #{member_gender}, member_address = #{member_address}, member_phone=#{member_phone}
        where member_id = #{member_id}
    </update>
</mapper>