@import "reset.css";

/* 상세보기 페이지 */
.detail-container {
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : calc(100vh - 100px);
}

.detail-inner-container {
    /* border : 1px solid black; */
    width : 70vw;
    height : 70vh;
}

.top-bno-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    height : 10%;
    border-bottom : 3px solid black;
}

.top-bno {
    padding : 10px 50px;
    font-size : 23px;
    background-color: #5F95FF;
    color : white;
    border-radius : 30px;
}

.view-count {
    color: #999999;
}

.detail {
    font-size : 20px;
    width : 100%;
    height : 90%;
}

.detail-title, .detail-writer, .detail-date, .detail-file {
    display : flex;
    align-items: center;
    height : 14%;
    border-bottom : 1px solid #D7D7D7;
}

.detail-content {
    padding : 3% 0 3% 0;
    border-bottom : 1px solid #D7D7D7;
    display : flex;
    height : 30%;
}

.title {
    display : flex;
    justify-content: center;
    width : 10%;
}

.content, .file-content {
    display : flex;
    width : 90%;
    flex-direction: column;
}

.file-content:hover {
    color: #5F95FF;
}


.content-input {
    font-size : 20px;
    display : flex;
    width : 90%;
    padding : 0 10px;
    resize : none;
}

.content-input:focus {
    outline: none;
}

.detail-btn-container {
    display : flex;
    justify-content: flex-end;
    align-items: center;
    height: 15%;
}

.password-input {
    width: 20%;
    height: 50%;
    font-size: 17px;
    padding: 0 5px;
}

.modify-btn {
    justify-content: center;
    align-items: center;
    display : flex;
    width : 10%;
    height : 50%;
    border : 1px solid #5F95FF;
    color : #5F95FF;
    margin-left: 20px;
}

.delete-btn {
    margin-left : 10px;
    justify-content: center;
    align-items: center;
    display : flex;
    width : 10%;
    height : 50%;
    border : 1px solid #5F95FF;
    color : #5F95FF;
}

.modify-btn:hover, .delete-btn:hover {
    transition : 0.5s;
    background-color : #5F95FF;
    color : white;
}
