@import "reset.css";

header {
    height: 60px;
    margin: 20px;
    display: flex;
    align-items: center;
    background: #7DB249;
    font-size: 22px;
    border-radius: 50px;
}

.admin-menu-container {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.admin-menu-div{
    display: flex;
    align-items: center;
}

.admin-header-member-a, .admin-header-board-a {
    color: #FFF;
    margin-right: 30px;
    cursor: pointer;
}

.admin-header-logout-a {
    cursor: pointer;
    padding: 10px 35px;
    color: #FFF;
    font-size: 22px;
}

.admin-container {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

.admin-top-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-search-container {
    padding: 0 0 0 5px;
    border: 1px solid #b4b4b4;
    border-radius: 50px;
}

.admin-search-input, .admin-search-phone-input {
    padding: 5px;
    width: 300px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.admin-search-input {
    border-right: 2px solid #EAEAEA;
}

.admin-search-phone-input {
    margin-right: 16px;
}

.admin-search-input:focus, .admin-search-phone-input:focus {
    outline: none;
}

.admin-search-submit {
    font-size: 18px;
    border: none;
    padding: 10px 10px;
    background-color: transparent;
    cursor: pointer;
    color: #8b8b8b;
}

.admin-search-submit:hover {
    color: #7DB249;
}

.admin-lock-btn, .admin-unlock-btn, .admin-delete-btn {
    cursor: pointer;
    margin-left: 20px;
    background-color: #70E15E;
    padding: 10px 30px;
    font-size: 18px;
    color: #FFF;
}

.admin-lock-btn {
    background-color: #70E15E;
}

.admin-unlock-btn {
    background-color: #F8BD4B;
}

.admin-delete-btn {
    background-color: #FB5D5D;
}

.admin-list-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
}

th, td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #E4F0D5;
}

tr:hover {
    background-color: #f5f5f5;
}

.checkbox-col {
    width: 50px;
}

