@import "reset.css";

/* 마이페이지  */
.mypage-container {
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : calc(100vh - 100px);
}

.mypage-inner-container {
    width : 70vw;
    height : 60vh;
}

.mypage-top-container{
    width : 100%;
    height: 15%;
    border-bottom : 3px solid black;
    display: flex;
    align-items: center;
}

.mypage-userid {
    height: 55%;
    padding: 10px 80px;
    font-size: 25px;
    background-color: #7DB249;
    color : white;
    border-radius:50px;
    display: flex;
    align-items: center;
}

.mypage-content-container {
    height : 75%;
    display : flex;
    flex-direction: column;
}

.mypage-content {
    display : flex;
    width : 100%;
    height : 23%;
    align-items: center;
}

.mypage-area {
    width : 50%;
    height : 100%;
    display : flex;
    font-size : 18px;
    align-items: center;
}

.mypage-content-area > .mypage-input {
    border : none;
    width : 100%;
    font-size: 18px;
}

.mypage-title-area {
    padding : 0 5%;
    width : 30%;
    height : 100%;
    display: flex;
    align-items: center;
}

.mypage-content-area {
    width : 70%;
    height : 50%;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border-radius : 50px;
    padding : 0 20px;
}


.input-radio , .input-checkbox {
    margin : 0 5px;
    font-size: 17px;
}

.mypage-btn-container {
    width : 100%;
    height : 10%;
    display : flex;
    justify-content: flex-end;
}

.password-input, .password-check-input {
    width: 30%;
    height : 70%;
    font-size: 17px;
    padding: 0 5px;
    margin-left : 10px;
}

.password-input:focus, .password-check-input:focus {
    outline: none;
}

.mypage-btn-div {
    font-size : 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.mypage-modify-btn  {
    cursor : pointer;
    background-color:transparent;
    font-size : 20px;
    color : #7DB249;
    width : 150px;
    height : 70%;
    border-radius: 50px;
    border : 1px solid #7DB249;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left : 20px;
}

.mypage-modify-btn:hover {
    background-color: #F8F8F8;
}



.mypage-withdraw-btn {
    width : 150px;
    height : 70%;
    background-color: #7DB249;
    border-radius: 50px;
    color : white;
    display: flex;
    align-items: center;
    margin-left : 10px;
    justify-content: center;
}

.mypage-withdraw-btn:hover {
    background-color: #568A35;
}