@import "reset.css";

/* 회원가입 */
.member-insertForm-container {
    display : flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.member-insertForm-inner-container {
    width : 70vw;
    height : 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-top-container {
    height : 10%;
    font-size: 28px;
    color :#5F95FF;
}

.member-input-container {
    width : 50%;
    height : 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.member-input-div {
    display: flex;
    align-items: center;
}

.member-label {
    width: 25%;
    font-size: 17px;
}

.member-input {
    width : 60%;
    margin-right: 10px;
}

.member-input > input {
    font-size : 18px;
    width : 100%;
    padding : 5px 10px;
    border : 1px solid #EEEEEE;
}

.member-input > input:focus {
    outline: none;
}

label {
    margin-right: 15px;
}

.input-radio {
    margin-right: 5px;
}

.member-duplicatedId {
    width : 10%;
    cursor: pointer;
}
.member-duplicatedId > input {
    font-size : 17px;
    color: #5F95FF;
    padding : 10px 20px;
    border : 1px solid #5F95FF;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.member-duplicatedId> input:hover {
    background-color: #F8F8F8;
}

.member-insertForm-btn {
    width: 30%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #5F95FF;
    color: white;
    font-size: 20px;
    padding: 13px 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 25%);
    margin: 15px 0;
}

.member-insertForm-btn:hover {
    background-color: #4681F3;
}
